@import "./variable";
@import "./section";
@import "./svg";
@import "./contactForm";
@import "./gallery";


body {
    background: linear-gradient(-30deg, var(--main-color-alt) 0%,#00000a 25%, var($backgroundColor) 50%,#000000 100% );
} 

.glass-effect{
    background: rgba(0, 0, 0, 0.36);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(0, 0, 0, 0.51);
}